.introduction-div {
    display: flex;
    flex-direction: column;        /* Stack the logo and text vertically */
    justify-content: center;       /* Center the content vertically */
    align-items: center;           /* Center the content horizontally */
    height: 100vh;  
    margin-bottom: 100px;               /* Make the div take up the full height of the viewport */
    
}

.introduction-div img {
    width: 500px;                  /* Adjust the logo size */
    height: auto;                  /* Keep aspect ratio of the image */
}

.introduction-text {
    background-color: #f5f5f5;       /* White background for the postcard effect */
    padding: 50px;                 /* Add padding for the postcard feel */
    border-radius: 10px;           /* Round the corners of the postcard */
    color: black;                  /* Set text color to black */
    text-align: center;            /* Center the text */
    max-width: 1000px;              /* Set a max width for the text box */
    width: 80%;                    /* Set width to 80% of the container */
    font-size: 1.2rem;             /* Adjust text size */
    line-height: 1.5;              /* Adjust line height for readability */
    border: black 2px solid;
}
